<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
        <Property name="basePath">./src/main/resources/logs</Property>
    </Properties>
    <Appenders>
    	<Log4j2Appender name="errorlogfileS3">
	      <PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5p %c{36} - %m%n"/>
	      <verbose>false</verbose>
	      <stagingBufferSize>500</stagingBufferSize>
	      	<s3Bucket>freeejobs-logs</s3Bucket>
	        <s3Path>freeejobsApp/error/</s3Path>
	        <s3Region>ap-southeast-1</s3Region>
	      	<s3AwsKey>${env:S3_ACCESS_KEY}</s3AwsKey>
	      	<s3AwsSecret>${env:S3_SECRET_KEY}</s3AwsSecret>
	    </Log4j2Appender>
	    <Log4j2Appender name="JPAlogfileS3">
	      <PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5p %c{36} - %m%n"/>
	      <verbose>false</verbose>
	      <stagingBufferSize>500</stagingBufferSize>
	      	<s3Bucket>freeejobs-logs</s3Bucket>
	        <s3Path>freeejobsApp/jpa/</s3Path>
	        <s3Region>ap-southeast-1</s3Region>
	      	<s3AwsKey>${env:S3_ACCESS_KEY}</s3AwsKey>
	      	<s3AwsSecret>${env:S3_SECRET_KEY}</s3AwsSecret>
	    </Log4j2Appender>
    	<RollingFile name="logfile" filename="${basePath}/freeejobs_application.log" append="true"
            filepattern="%d{YYYYMMddHHmmss}-freeejobs.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        <RollingFile name="errorlogfile" filename="${basePath}/freeejobs_application_error.log" append="true"
            filepattern="%d{YYYYMMddHHmmss}-freeejobs.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        <RollingFile name="JpaLogFile" filename="${basePath}/freeejobs_application_jpa.log" append="true"
            filepattern="%d{YYYYMMddHHmmss}-freeejobs.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    
    <Loggers>
		<logger name="org.springframwork" level="error" additivity="false">
    		<AppenderRef ref="logfile"/>
    	</logger>
    	<logger name="org.springframework.orm.jpa" additivity="false">
		   <level value="DEBUG"/>
		   <appender-ref ref="JpaLogFile"/>
		   <!-- <appender-ref ref="JPAlogfileS3"/> -->
		</logger>
		<logger name="org.springframework.jdbc.datasource" additivity="false">
		   <level value="DEBUG"/>
		   <appender-ref ref="JpaLogFile"/>
		   <!-- <appender-ref ref="JPAlogfileS3"/> -->
		</logger>
		<logger name="org.hibernate.SQL" additivity="false">
		   <level value="DEBUG"/>
		   <appender-ref ref="JpaLogFile"/>
		   <!-- <appender-ref ref="JPAlogfileS3"/> -->
		</logger>
		
    	<Root level="all">
	    	<AppenderRef ref="stdout" level="all"/>
	    	<AppenderRef ref="logfile" level="debug"/>
	    	<!-- <AppenderRef ref="errorlogfileS3" level="error"/> -->
	    	<AppenderRef ref="errorlogfile" level="error"/>
	    </Root>
    </Loggers>
    
</Configuration>